<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>goodwriter</title>
	</head>
	<body>
		欢迎注册
		<form action="" method="POST">
			<div>
				<input type="text" placeholder="输入邮箱" name="email">
			</div>
			<div>
				<input type="text" placeholder="输入微信号" name="wechatid">
			</div>
			<div>
				<input type="password" placeholder="输入密码" name="password1">
			</div>
			<div>
				<input type="password" placeholder="再次输入密码" name="password2">
			</div>
			<div>
				<button type="submit" name="button">立即注册</button>
			</div>
		</form>
	</body>
</html>
