{% extends "layout.html" %}

{% block head %}{% endblock %}
{% block title %}Fluent Draft{% endblock %}
{% block motto %}写作即是坐下来判断自己。——易卜生{% endblock %}
{% block nav %}

{% endblock %}

{% block tag_list %}

{% endblock %}

{% block searchbox %}

{% endblock %}

{% block main %}
    <div class="article">
      <h1 class="title">有关Fluent Draft</h1>
      <div class="status">发布于：2017-10-26 </div>
      <div class="content">
        <div><h3>网站介绍</h3>
          <p>Fluent Draft@文章自在是一个记录写作素材的网站。你可以在微信版和网页版都登陆，
          记录自己的写作素材，并同步。让你的写作像发微信一样方便快捷，只需要添加微博上常
          用的话题标签##，后台就可以自动帮你分类整理好写作素材。自由写作，文章自在~</p>
          <h3>制作成员</h3>
            <p>醉舟（Hansoluo-无锡）（组长+后端）</p>
            <p>西西莉亚（CeciliaCheng-广州）（前端）</p>
            <p>陈瑶霖（SailingChen10-北京）（策划）
            <p>胡杰颖（hujieying-成都）（后端）
            <p>张之洞（behindsea-恩施）（后端，部署）</p>
            <h3>制作信息</h3>
            源码地址：https://github.com/Hansoluo/goodwriter<br>
            使用工具：chrome浏览器，atom编辑器<br>
            其他：人生苦短，我用python</p>
      </div>
    </div>
  </div>
{% endblock %}
