{% extends "layout.html" %}

{% block head %}{% endblock %}
{% block title %}Fluent Draft{% endblock %}
{% block motto %}写作即是坐下来判断自己。——易卜生{% endblock %}
{% block nav %}

{% endblock %}

{% block tag_list %}
  {% for tag in tags %}
    <a class="item" href="/index?tag={{tag.tag}}"># {{tag.tag}}</a>
  {%endfor%}
{% endblock %}

{% block searchbox %}
<form method="get">
  <input type="text" placeholder="输入查找内容" name= "key">
  <button type="submit" class="btn btn-info btn-xs">搜索</button>
</form>
{% endblock %}

{% block main %}
    <div class="article-list">
      {% for item in items %}
      <div class="item">
          <a href="{% if item.type == "material" %} {{url_for('material', mater_id=item.id) }} {% else %} {{url_for('article', artic_id=item.id) }} {% endif %}"
           class="title">{{item.title}}</a>
          <div class="status">发布于：{{item.edit_time}} | 标签：{{item.tag}}</div>
          <div class="content">
        {{item.content}}
          </div>
        </div>
      {% endfor %}
    </div>
{% endblock %}
