{% extends "layout.html" %}

{% block head %}{% endblock %}
{% block title %}Fluent Draft{% endblock %}
{% block motto %}写作即是坐下来判断自己。——易卜生{% endblock %}
{% block nav %}

{% endblock %}

{% block tag_list %}

{% endblock %}

{% block searchbox %}

{% endblock %}

{% block main %}
<div class="article">
  <div>
      <h4>欢迎登陆 <span>Fluent Draft</span>，你的写作助手</h4>
          <hr>
  </div>
  <form class="container container-small" method="post">
  <div class="btn-group pull-center">
      <h3>邮箱</h3>
      <input type="text" class="form-control" placeholder="example@163.com" name="email">
      <h3>密码</h3>
      <input type="password" class="form-control" placeholder="Password" name="password">
      <input type="checkbox">
      <label>Remember me?</label>
  </div>
  <div id="register">
      <button class="btn btn-primary" type="submit">登陆</button>
  </div>
  <div>
      <a href="#"><font size="3" face="arial" color="red">Forget password?</font></a>
  </div>
</form>
</div>
{% endblock %}
