{% extends "layout.html" %}

{% block head %}
<script src="https://ajax.googleapis.bootcss.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

{% endblock %}
{% block title %}Fluent Draft{% endblock %}
{% block motto %}写作即是坐下来判断自己。——易卜生{% endblock %}
{% block nav %}

{% endblock %}

{% block tag_list %}
  {% for tag in tags %}
    <a class="item"># {{tag.tag}}</a>
  {%endfor%}
{% endblock %}

{% block searchbox %}
  <input type="text" placeholder="输入查找内容" id= "key">
  <button type="button" class="btn btn-info btn-xs" id ="search">搜索</button>
{% endblock %}

{% block main %}
  <div class="material">
    <div class="item">
    <form class="container container-small" method="post">
      <div class="btn-group">
          <button class="btn btn-primary btn-block" type="submit" name="save">保存</button>
        </div>
      <div class="form-group">
        {% if material is defined %}
            <input name="mater_id" type="hidden" value="{{material.mater_id}}" />
            <textarea rows="3" cols="20" class="form-control" type="text" name="content" placeholder="write every thing in your mind"
          style="width:700px; height:500px;">#{{ material.tag }}#{{ material.content }}</textarea>
      {% else %}
        <input name="mater_id" type="hidden" value="" />
        <textarea rows="3" cols="20" class="form-control" type="text" name="content" placeholder="write every thing in your mind"
      style="width:700px; height:500px;"></textarea>
      {% endif %}
        </div>
    </form>
   </div>
  </div>
{% endblock %}
