{% extends "layout.html" %}

{% block head %}
<script type="text/javascript">
function validate() {
	email = document.getElementById('email').value;
	wechatid = document.getElementById('wechatid').value;
	pw1 = document.getElementById('password1').value;
	pw2 = document.getElementById('password2').value;
	if (email=="" || wechatid=="" || pw1=="" || pw2==""){
		alert("注册信息不能有空值");
		return false;
	}
	if (pw1!=pw2){
		alert("密码输入不匹配");
		return false;
	}	else {
		return true;
	}
}
</script>
{% endblock %}
{% block title %}Fluent Draft{% endblock %}
{% block motto %}写作即是坐下来判断自己。——易卜生{% endblock %}
{% block nav %}{% endblock %}

{% block tag_list %}{% endblock %}

{% block searchbox %}{% endblock %}

{% block main %}
	<div class="article">
		<div>
				<h4>
						首次使用 <span>Fluent Draft</span> 你的写作助手前，请先注册
				</h4>
				<hr>
				<p><font size="3" face="arial">Fluent Draft@文章自在是
				一个记录写作素材的网站。你可以在微信版和网页版都登陆，
				记录自己的写作素材，并同步。让你的写作像发微信一样方便快捷，只需要添加微博上常
				用的话题标签##，后台就可以自动帮你分类整理好写作素材。自由写作，文章自在~</font></p>
				<hr>
		</div>
		<form method="POST"  onsubmit="return validate()">
		<div class="btn-group pull-center">
				<h3>邮箱</h3>
				<input type="text" class="form-control" placeholder="example@163.com" name="email" id="email">
				<h3>微信号</h3>
				<input type="text" class="form-control" placeholder="wechat id" name="wechatid" id="wechatid">
				<h3>密码</h3>
				<input type="password" class="form-control" placeholder="Password" name="password1" id="password1">
				<h3>确认密码</h3>
				<input type="password" class="form-control" placeholder="Password" name="password2" id="password2">
		</div>
		<div id="register">
				<button class="btn btn-primary" type="submit">注册</button>
		</div>
		</form>
	</div>
{% endblock %}
